<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center v-card">

            <div class="col-sm-6 col-lg-3">
                <div class="open-daily">
                    <span class="day">Monday - Thursday</span>
                    <span class="hours">7.00 - 21.00</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="open-daily">
                    <span class="day">Friday - Sunday</span>
                    <span class="hours">7.00 - 23.00</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="simple-contact">
                    <span class="address">Contact : Tenney</span>
                    <span class="postal-code">QQ:270078781</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="simple-contact">
                    <span class="mobile"><a href="#">+13888888888</a></span>
                    <span class="email"><a href="#">270078781@qq.com</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
