<!DOCTYPE html>
<html>
<head>

  <% include ./inc/head.ejs %>

</head>
<body class="show-nav nav-center home-page yo-anim-enabled">

<!--content-->
<% include ./inc/main-nav.ejs %>
<% include ./inc/mobile-nav.ejs %>


<header id="home" class="main-section home hidden-xs">
  <div class="home-fullscreen">
    <div class="container-fluid">
      <div class="basic-info ">
        <div class="clearfix"></div>
        <div class="open-daily yo-anim yo-anim-fade-ltr" data-animation-delay="200">
          <span class="day">Monday - Thursday</span>
          <span class="hours">7.00 - 21.00</span>
        </div>
        <div class="open-daily yo-anim yo-anim-fade-ltr" data-animation-delay="500">
          <span class="day">Friday - Sunday</span>
          <span class="hours">7.00 - 23.00</span>
        </div>
        <div class="simple-contact yo-anim yo-anim-fade-ltr" data-animation-delay="800">
          <span class="address">Contact : Tenney</span>
          <span class="postal-code">QQ:270078781</span>
        </div>
        <div class="simple-contact yo-anim yo-anim-fade-ltr" data-animation-delay="1100">
          <span class="mobile"><a href="/gameLobby">进入游戏</a></span>
        </div>

      </div>
    </div>
    <div class="home-parallax opacity-50">
      <div data-parallaxify-range="100" class="parallax-layer" style="background-image: url(img/bg2.jpg); "></div>
    </div>
  </div>
</header>
<div class="visible-xs mobile-basic-info">
  <div id="footer-spacer"></div>
  <footer id="footer" class="text-center">

    <a href="#" class="to-the-top">
      <i class="fa fa-arrow-circle-o-up"></i>
    </a>

    <h2>Berg restaurant</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center v-card">

          <div class="col-sm-6 col-lg-3">
            <div class="open-daily">
              <span class="day">Monday - Thursday</span>
              <span class="hours">7.00 - 21.00</span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="open-daily">
              <span class="day">Friday - Sunday</span>
              <span class="hours">7.00 - 23.00</span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="simple-contact">
              <span class="address">Contact : Tenney</span>
              <span class="postal-code">QQ:270078781</span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="simple-contact">
              <span class="mobile"><a href="/gameLobby">进入游戏</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="home-bg-image"></div>
</div>


<div class="gallery-wrapper"></div>

<div id="preloader">
  <div id="status">
    <div class="loading-wrapper">
      <img src="/img/logo2.png" alt="Loading"/>
    </div>
  </div>
  <div id="status-loaded"></div>
</div>

<% include ./inc/script.ejs %>

</body>
</html>
