<!DOCTYPE html>
<html>
<head>

  <% include ./inc/head.ejs %>

  <!-- Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="show-nav nav-center home-page yo-anim-enabled">

<!--content-->
<% include ./inc/main-nav.ejs %>
<% include ./inc/mobile-nav.ejs %>


<div style="margin: 0 auto; padding-top: 150px; width: 50%;">
  <form action="" id="login" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label">用户名：</label>
      <div class="col-sm-9">
        <input type="email" name="username" class="form-control" id="username" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">密 码：</label>
      <div class="col-sm-9">
        <input type="password" name="password" class="form-control" id="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">登 录</button>
        <a class="btn btn-success" href="/register" style=" margin-left: 10px;">我没有账号，我要注册</a>
      </div>
    </div>
    <div class="form-group">
      <div style="color: red;"><%= pagemsg %></div>
    </div>
  </form>
</div>


<div class="visible-xs mobile-basic-info">
  <div id="footer-spacer"></div>
  <footer id="footer" class="text-center">

    <a href="#" class="to-the-top">
      <i class="fa fa-arrow-circle-o-up"></i>
    </a>

    <h2>Cowinit restaurant</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center v-card">

          <div class="col-sm-6 col-lg-3">
            <div class="open-daily">
              <span class="day">Monday - Thursday</span>
              <span class="hours">7.00 - 21.00</span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="open-daily">
              <span class="day">Friday - Sunday</span>
              <span class="hours">7.00 - 23.00</span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="simple-contact">
              <span class="address">Contact : Tenney</span>
              <span class="postal-code">QQ:270078781</span>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="simple-contact">
              <span class="mobile"><a href="/room">进入游戏</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="home-bg-image"></div>
</div>


<div class="gallery-wrapper"></div>

<!-- <div id="preloader">
  <div id="status">
    <div class="loading-wrapper">
      <img src="/img/logo2.png" alt="Loading"/>
    </div>
  </div>
  <div id="status-loaded"></div>
</div> -->

<% include ./inc/script.ejs %>

</body>
</html>
